body{
  background:#666;
}

#main-title{
  
}

#sub-title{
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 820px;
  background-color: #aaa;
}

.patt-dots{
  height:15%;
  width:15%;
  top:45%;
  left:45%;
}

.patt-circ.hovered{
  border:8px solid #fff;
  background:rgba(255,255,255,.5);
  transition: .4s ease;
}

.patt-error .patt-circ.hovered{
  border:8px solid #BA1B26;
  background:rgba(186,27,38,.5);
  transition: .4s ease;
}

@font-face {
  font-family: 'dotfont';
  src: url('font/MPlusFont-JF-DotH10.woff2') format('woff2'),
       url('font/MPlusFont-JF-DotH10.woff') format('woff'),
       url('font/MPlusFont-JF-DotH10.ttf') format('truetype');
}

/*28px*/