html,body{
    overflow: scroll;
    height: 100%;
}

body{
  padding:16px;
  padding-right: 32px;
  padding-left: 32px;
}
.constrancter{
  width:100%;
}

.title{
  font-size:  48px;
  line-height:1.8em;
  letter-spacing:1.6pt;
  text-align: center;
}
.section{
  font-size:  24px;
}
.topic{
  font-size:  32px;
  line-height:1.8em;
  letter-spacing:1.6pt;
}
.section li{
  margin-bottom: 16px;
}
.btn{
}

.schedu{
  width:100%;
  text-align: center;
}
.schedu img{
  width:90%;
}

.sample{ height:50px; margin-bottom: 16px;}
.sample input{
  display: none;
}
.sample label{
  display: block;
  float: left;
  cursor: pointer;
  width: 80px;
  height: 50px;
  margin: 0;
  padding: 12px 5px;
  border-right: 1px solid #abb2b7;
  background: #bdc3c7;
  color: #555e64;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  transition: .1s;
}
.sample label.width{
  width: 180px;
}
.sample label:first-of-type{
  border-radius: 3px 0 0 3px;
}
.sample label:last-of-type{
  border-right: 0px;
  border-radius: 0 3px 3px 0;
}
.sample input[type="radio"]:checked + label {
  background-color: #a1b91d;
  color: #fff;
}
.sample .oneline{
  padding-top: 19px !important;
}
.sample .btn{
  width:160px;
  padding-top: 18px !important;
  background-color: #a1b91d;
  color: #fff;
}
.pushed{
  background-color: #c1991d !important;
  color: #fff;
}

#load-container{
  display:none;
  position: fixed;
  top:0;
  left:0;
  padding-top: 50%;
  width:100%;
  height:100%;
  text-align: center;
  font-size: 32px;
  background-color: rgba(96,96,96,.8);
  color: white;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fbfcff, 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.5), -1.8em -1.8em 0 0em rgba(251,252,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.7), 1.8em -1.8em 0 0em #fbfcff, 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.5), 1.8em -1.8em 0 0em rgba(251,252,255, 0.7), 2.5em 0em 0 0em #fbfcff, 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.5), 2.5em 0em 0 0em rgba(251,252,255, 0.7), 1.75em 1.75em 0 0em #fbfcff, 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.5), 1.75em 1.75em 0 0em rgba(251,252,255, 0.7), 0em 2.5em 0 0em #fbfcff, -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.5), 0em 2.5em 0 0em rgba(251,252,255, 0.7), -1.8em 1.8em 0 0em #fbfcff, -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.5), -1.8em 1.8em 0 0em rgba(251,252,255, 0.7), -2.6em 0em 0 0em #fbfcff, -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.5), -2.6em 0em 0 0em rgba(251,252,255, 0.7), -1.8em -1.8em 0 0em #fbfcff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fbfcff, 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.5), -1.8em -1.8em 0 0em rgba(251,252,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.7), 1.8em -1.8em 0 0em #fbfcff, 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.5), 1.8em -1.8em 0 0em rgba(251,252,255, 0.7), 2.5em 0em 0 0em #fbfcff, 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.5), 2.5em 0em 0 0em rgba(251,252,255, 0.7), 1.75em 1.75em 0 0em #fbfcff, 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.5), 1.75em 1.75em 0 0em rgba(251,252,255, 0.7), 0em 2.5em 0 0em #fbfcff, -1.8em 1.8em 0 0em rgba(251,252,255, 0.2), -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.5), 0em 2.5em 0 0em rgba(251,252,255, 0.7), -1.8em 1.8em 0 0em #fbfcff, -2.6em 0em 0 0em rgba(251,252,255, 0.2), -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.5), -1.8em 1.8em 0 0em rgba(251,252,255, 0.7), -2.6em 0em 0 0em #fbfcff, -1.8em -1.8em 0 0em rgba(251,252,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(251,252,255, 0.2), 1.8em -1.8em 0 0em rgba(251,252,255, 0.2), 2.5em 0em 0 0em rgba(251,252,255, 0.2), 1.75em 1.75em 0 0em rgba(251,252,255, 0.2), 0em 2.5em 0 0em rgba(251,252,255, 0.2), -1.8em 1.8em 0 0em rgba(251,252,255, 0.5), -2.6em 0em 0 0em rgba(251,252,255, 0.7), -1.8em -1.8em 0 0em #fbfcff;
  }
}


