body{
  background-color: #666;
  overflow:scroll;
}

.header{
  position: fixed;
  top:0;
  height:10%;
  width:100%;
}
.title{
  height:64px;
  font-size: 48px;
  text-align: center;
  color:#fff;
  line-height:1.5em;
}
.catch{
  font-size: 28px;
  text-align: center;
  margin-bottom: 12px;
}
.text{
  font-size: 16px;
  letter-spacing:0.8pt;
  line-height:1.8em;
  padding:16px;
  margin: 16px;
  color: #fff;
}
.text>img{
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 24px;
}

input[type=checkbox] {
  width:      20px;
  height:     20px;
  -moz-transform:   scale(1.4);
  -webkit-transform:  scale(1.4);
  transform:    scale(1.4);
  margin-right: 10px;
}

.buttons{
  text-align: center;
  font-size: 24px;
  color: black;
}

button{
  background-color: white;
}

textarea{
  background-color: white;
}
