.stage{
  position:absolute;
  height: 30%;
  width: 100%;
  bottom:80px;
  margin-bottom: 50px;
}

.buki{
  position:absolute;
  bottom:40%;
  padding:10px;
  width:180px;
  height:180px;
  max-height:160px;
  max-width:160px;
}

#weapon{
  position: relative;
  height:95%;
  width:auto;
  margin-top: 5px;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (非標準プロパティ) */
}

.character{ 
  position: absolute;
  bottom: 0;
  width:auto;
  height:100%;
  max-height:200px;
}

.character.right{
  right:0;
}

.textarea{
  position:absolute;
  bottom:0;
  height:124px;
  width:600px;
}

.scene{
  position: absolute;
  top:0;
  width:100%;
  bottom:520px;
  display:block;
  background-color: #666;
  /*background-image:url("../img/back.jpg");*/
}

.hp{
  position:absolute;
  bottom:12%;
  height:8%;
  width:80%;
  border:2px solid #fff;
  display:none;
}

.hpBar{
  height:100%;
  width:100%;
  background-color: #D44;
}

.confirm-window{
  position: absolute;
  bottom:0;
  right:10px;
  height:140px;
  width:160px;
  display:none;
}

.confirm-window>hr{
  margin-top:5px;
  margin-bottom:5px; 
}

#change-button{
  top:-44px;
  left:-78px;
  color: white;
  text-align: center;
  width:300px;
  font-size: 28px;
}

#forgetButton{
  position: absolute;
  bottom:0;
  right:0;
  width: 100px;
  height: 100px;
  padding-top:20px;
  font-size: 20px;
  color: white;
  text-align: center;
  -webkit-border-radius: 50px;/* width,heightの半分 */
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #000;
  border: 4px solid white;
}

#strong{
  font-size: 24px;
  color: white;
}