.front{
  position:absolute;
  z-index:1;
  top:0;
  background-size:cover;
  background-position:center bottom;
}

.clockDay{
  position: absolute;
  top:6%;
  z-index: 100;
}

.clock{
  position: relative;
  font-size:98px;
}

.day{
  margin-top:-6%;
  font-size:50px;
}

.enemy{
  position:absolute;
  height: 280px;
  width: 280px;
  bottom:40%;
  max-height:30%;
  min-height:180px;
  
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (非標準プロパティ) */
}
.enemy .character{
  width:60%;
  height:auto;
  bottom:0;
  margin-bottom:20%;
  display: none;
}

.hp{
  position:absolute;
  bottom:8%;
  height:5%;
  width:60%;
  border:2px solid #fff;
}

.hpBar{
  height:100%;
  width:100%;
  background-color: #D44;
}

.textarea{
  position: absolute;
  padding: 10px;
  top:60%;
  width:80%;
  color:#fff;
  font-size: 30px;
}

.progressGage>.bar{
  position: absolute;
  top:82%;
  height:10px;
  width:500px;
  border-bottom: 4px solid #333;
}
.bar>.scale{
  float:left;
  width:50px;
  height:100%;
  margin:0;
  border-left: 4px solid #333;
}
.bar>.scale.end1{
  width:46px;
}
.bar>.scale.end2{
  width:4px;
}
.bar>.now{
  position: absolute;
  margin-left: -10px;
  margin-top: -24px;
  width: 0;
  height: 0;
  border-top: 24px solid #FF4035;
  border-right: 12px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 12px solid transparent;
}
.bar>img{
  position: absolute;
  display:block;
  width:48px;
  height:48px;
  right:0;
  margin-right:-48px;
  margin-top:-48px; 
}
.bar>.boss{
  position: absolute;
  right:0;
  bottom:0;
  width:20%;
  border-bottom: 4px solid #C33;
  z-index: -1;
}

.button{
  position:absolute;
  bottom:0;
  width:250px;
  height:100px;
  border:8px solid #333;
  padding:5px;
  margin:30px;
  font-size:32px;
  cursor:pointer;
  transition: all .3s;
  background-color: rgba(255,255,255,.5);
}
.button:hover {
  background-color: #fff;
}
.attack-btn{
  position: absolute;
  left:0;
  right:0;
  margin-right: auto;
  margin-left: auto;
}
.run-btn{
  position: absolute;
  right:0;
  display: none;
}
.cmdbtn-icon{
  height:auto;
  width:30%;
}
.button img{
  position: absolute;
  top:0;
  bottom:0; 
  margin-top:auto;
  margin-bottom:auto;
}
.button span{
  position: absolute;
  top:0;
  bottom:0; 
  height:40px;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:35%;
}

.anim{transition: all 0.5s ease-in-out;}
.animquick{transition: all 0.2s ease-in-out;}


.atkPlayer{
  position: absolute;
  height:120px;
  left:-300px;
  bottom:6%;
  z-index:5;
}
.runPlayer{
  position: absolute;
  height:120px;
  right:-200px;
  bottom:6%;
  z-index:5;
}

.weaponIcon{
  position:relative;
  width: 70px;
  z-index:6;
  left:-35px;
  top:10px;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (非標準プロパティ) */
}

.game-frame{
  background:#333;
}

.drops{
  position: absolute;
  bottom:0;
  right:0;
  opacity:0;
}
.drops>div{
  display: inline;
  width:120px;
}
.drops img{
  width:40px;
  height:auto;
  margin-right:-15px;
}
.drops{
  color:white;
  font-size:40px;
}

.damage{
  position: absolute;
  top:90px;
  color:#D44;
  font-size:80px;
  z-index: 2;
  opacity:0;
}

.blinking{
  -webkit-animation:blink 0.8s linear infinite alternate;
  -moz-animation:blink 0.8s linear infinite alternate;
  animation:blink 0.8s linear infinite alternate;
}

.swipe-screen{
  -webkit-animation:swipe 0.8s linear 1 alternate;
  -moz-animation:swipe 0.8s linear 1 alternate;
  animation:swipe 0.8s linear 1 alternate;
}

.shake{
  -webkit-animation:shake 0.05s linear 8 alternate;
  -moz-animation:shake 0.05s linear 8 alternate;
  animation:shake 0.05s linear 8 alternate;
}
.drop-item{

  -webkit-animation:drop 0.7s linear 1 normal;
  -moz-animation:drop 0.7s linear 1 normal;
  animation:drop 0.7s linear 1 normal;
}

@keyframes swipe {
  0% {position: absolute;bottom:0px;}
  100% {position: absolute;bottom:960px;} 
}

@keyframes shake {
  0% {transform:translate(-5px, 0);}
  100% {transform:translate(5px, 0);}
}

@keyframes drop {
  0% {opacity: 0;}
  45%{opacity: 0;}
  60%{transform:translate(0, -15px);opacity: .5;}
  75% {transform:translate(0, 0);opacity: 1}
  100% {transform:translate(0, 0);opacity: 1}
}
